{% macro displaySourceList(sources) %}
    {% for item in sources %}


    <div class="card mb-10 col-md-3" style="margin-bottom: 10px">
        <a class="list-group-item list-group-item-action active" href="/source/{{item.id}}">
            <li style="list-style: none">{{item.name}}</li>

        </a>
        <p>{{ item.description }} </p>
        <a href="{{item.url}}">Read more ...</a>

</div> 
    {% endfor %}
{% endmacro %}

{% macro displayNewsList(news_list) %}

{% for source in news_list %}

<div class="container-fliud">
<li class="list-group-item" style="background-color: blue;font-size:large">
    <h4 class="text-center">
        <div class="card-header">
        {{ source.name }}
    </div>
    </h4>
    <hr>
    <p>{{source.description}}</p>
   <a class="text-center" style = "color:crimson"target="_blank" href="/headlines/{{ source.id }}">
       {{ source.name }}</a>
</li>
</div>
{% endfor %}

{% endmacro %}



{% macro displayHeadlinesList(headlines_list) %}

    {% for headlines in headlines_list %}
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 article-card">
            <h3> {{ headline.urlToImage }} {{ headlines.title }} </h3>
            <p>{{ headline.description }} </p>
            <li class="text-center">
                <a href="/headline/{{headline.id}}"></a>
                    {{ headline.title }}</a>
            </li>
    </div>
    {% endfor %}

{% endmacro %} 